<div>
    <%= form_for @workout do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %><br>
    </div>

    <div>
        <%= f.label :date_completed %>
        <%= f.date_field :date_completed, class: 'datepicker'%><br>
    </div>

    <div>
        <%= f.label :duration, "Duration of Workout, (in minutes)" %>
        <%= f.number_field :duration %><br>
    </div>

    <div class="input-field col s3">
        <label>
            <%= f.check_box :cardio, id:"cardio" %>
            <span>Cardio?</span>
        </label>
    </div>
    <br>
    <div class="input-field col s3">
        <label>
            <%= f.check_box :strength, id:"strength" %>
            <span>Strength?</span>
        </label>
    </div>
    <br>
    <br>
    <div>
        <%= f.label :average_heart_rate, "Average Heart Rate, (beats per minute)" %>
        <%= f.number_field :average_heart_rate %><br>
    </div>

    <div>
        <%= f.label :total_calories, "Total Calories Burned" %>
        <%= f.number_field :total_calories %><br>
    </div>

    <div>
        <%= f.label :description %> 
        <%= f.text_area :description, class: 'materialize-textarea' %><br>
    </div>

    <div>
        <%= f.submit "Log workout" %>
    </div>
    <% end %>
</div>