<% if @workout %>
    <h1>Give <%= @workout.user.username %> kudos on <%= @workout.name %>!</h1>
<% else %>
    <h1>Create a Comment</h1>
<% end %>

<%= render partial: 'layouts/errors', locals: {obj: @comment} %>

<%= form_for @comment do |f| %>
    <%= f.label :description, "Leave a comment" %><br>
    <%= f.text_area :description %><br>

    <%= f.hidden_field :workout_id %>

    <%= f.submit "Submit" %>
<% end %>