<div class="row">
    <div class="col s12">
        <h1><%= @user.username %>'s Stats & Workouts</h1>
    </div>

    <div class="col s3 #ffebee red lighten-5">
        <h5>Stats</h5>
        <ul>
            <li><%= @user.calories_burned %> calories burned</li>
            <li><%= @user.minutes_exercised %> minutes exercised</li>
            <li><%= @user.workouts_logged %> workouts logged</li>
        </ul>
    </div>

    <div class="col s9">
        <h5>Logged Workouts</h5>

        <% @workouts.each do |workout| %>
            <p><strong><%= workout.name %></strong> on <%= workout.display_date %> | <%= link_to 'View Workout Details', workout_path(workout) %></p>
        <% end %>
        <br>
    </div>
</div>