<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper #ef5350 red lighten-1">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to 'Home', welcome_path %></li>
        <% if !logged_in? %>
        <li><%= link_to 'Sign Up', signup_path %></li>
        <li><%= link_to 'Log In', login_path %></li>
        <% else %>
        <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
        <li><%= link_to 'My Workouts', user_path(current_user) %></li>
        <li><%= link_to 'Log a Workout', new_workout_path %></li>
        <li><%= link_to 'Workout Feed', workouts_path %></li>
        <li><%= link_to 'Comments Feed', comments_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
