<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper #ef5350 red lighten-1">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to 'Home', welcome_path %></li>
        <%= display_nav_links %>
      </ul>
    </div>
  </nav>
</div>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
