<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <% if !logged_in? %>
    <%= link_to 'Sign Up', signup_path %> |
    <%= link_to 'Log In', login_path %> |
    <% else %>
    <%= link_to 'Log Out', logout_path, method: :delete %> |
    <% end %>
    <%= link_to 'Log a Workout', new_workout_path %> |
    <%= link_to 'Workout Feed', workouts_path %> |
    <%= link_to 'Comments Feed', comments_path %> |
    <%= link_to 'Home', welcome_path %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
